<ion-header>
  <ion-toolbar>
    <ion-title>
      Probando Storage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p *ngFor="let mensaje of mensajes">{{ mensaje }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="agregar()">agregar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="set()">set</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="reset()">reset</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="get()">get</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
